<div class="container">
    <h2>Array构成的列表(index)</h2>
    <table class="table table-condensed">
        <tbody>
        <!--index 为专有名词，与顺序有关-->
        <template v-for="(cost, index) of costs">
            <tr class="info">
                <th class="text-success">{{index + 1}}.{{cost.type}}</th>
                <td class="text-muted">{{cost.description}}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td class="text-right">￥ {{cost.price.toFixed(2)}} &times; {{cost.count}}</td>
            </tr>
        </template>
        </tbody>
    </table>
</div>

<div class="container">
    <h2>Object构成的列表(key,index)</h2>
    <ul>
        <li v-for="(value, key, index) in paxInfo">{{keyTitles[key]}}: {{value}}</li>
    </ul>
</div>

<div class="container">
    <h2>列表的过滤(过滤/排序)</h2>
    <input v-model="name">
    <ul>
        <li v-for="pax in ffps">
            {{ pax.name }}
        </li>
    </ul>
</div>